@media (min-width:768px) {
	table.overview th:first-child {
		width:300px;
	}

	table.connections td:nth-child(7), table.file-operations td:nth-child(5), table.usedby td:nth-child(3), table.runsat td:nth-child(3), table.collections td:nth-child(3) {
		cursor:pointer;
		width:25px;
	}
}

@media (max-width:767px) {
	table.overview th:nth-child(n+3),
	table.overview td:nth-child(n+3) {
		display:none;
	}

	table.processing th:nth-child(2),
	table.processing td:nth-child(2) {
		display:none;
	}
}

table.collections td:first-child {
	width:50%;
}

div.labels span {
	margin:0 1px 0 2px;
}

div.row {
	margin-bottom:10px;
}

a.label {
	margin-left:5px;
	display:inline-block;
}

div.dialogs {
	display:none;
}

span.glyphicon {
	padding:5px;
	margin:-5px;
}

div.ui-dialog {
	box-shadow:5px 8px 15px;
	background-color:#f0f0f0;
	width:200px;
}

div.ui-dialog-titlebar {
	color:#ffffff;
	background-image:linear-gradient(to bottom, #337ab7 0px, #265a88 100%);
}

div.ui-dialog-content span {
	white-space:pre-wrap;
}
