@media (min-width:768px) {
	table.overview th:first-child {
		width:300px;
	}
}

a.label {
	margin-left:5px;
	display:inline-block;
}

table.app-use td:nth-child(1),
table.data-use td:nth-child(1) {
	width:50%;
}

table.app-use td:nth-child(3),
table.data-use td:nth-child(3) {
	cursor:pointer;
    width:25px;
}

div.dialogs {
	display:none;
}

span.glyphicon {
	padding:5px;
	margin:-5px;
}

div.ui-dialog {
	box-shadow:5px 8px 15px;
	background-color:#f0f0f0;
}

div.ui-dialog-titlebar {
	color:#ffffff;
	background-image:linear-gradient(to bottom, #337ab7 0px, #265a88 100%);
	background-color:#4040d0;
}

div.ui-dialog-content span {
	white-space:pre-wrap;
}

