div.classification {
	margin-bottom:10px;
}

a.label {
	margin-left:5px;
	display:inline-block;
}

div.dialogs {
	display:none;
}

table.table th:first-child {
	width:60%;
}

@media (max-width:767px) {
	table.overview th:nth-child(3),
	table.overview td:nth-child(3) {
		display:none;
	}
}
