@media (min-width:768px) {
	form.types {
		float:right;
		margin-right:75px;
		margin-top:-45px;
	}
}

@media (min-width:992px) {
	table.value th:nth-child(n+2) {
		width:150px;
	}
}

@media (max-width:479px) {
	table.value th:nth-child(2),
	table.value td:nth-child(2),
	table.value th:nth-child(3),
	table.value td:nth-child(3),
	table.value th:nth-child(4),
	table.value td:nth-child(4) {
		display:none;
	}
}
