div.filter {
	margin-bottom:10px;
	padding-right:30px;
}

div.filter input {
	max-width:none;
}

div.filter button {
	padding:6px 15px;
}

img.icon {
	float:right;
	width:40px;
	margin-top:10px;
}

p + img + h2 {
	margin-top:30px;
}

div.list-group {
	box-shadow:3px 5px 8px #808080;
}

div.row > div > p {
	text-align:right;
	margin-top:-5px;
	padding-right:10px;
	font-size:12px;
	color:#808080;
}

a.list-group-item {
	padding-right:55px;
}

span.name {
	display:inline-block;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	max-width:calc(100% - 30px);
}

span.badge {
	padding-top:4px;
	position:relative;
	left:40px;
}

@media (min-width:768px) {
	div.filter {
		margin-left:350px;
		margin-top:-48px;
		position:relative;
	}
}

@media (max-width:767px) {
	img.icon {
		width:35px;
		margin-top:-6px;
	}
}
