table.views th:nth-child(2) {
	width:120px;
}

div.links {
	display:none;
}

div.content-view {
	position:absolute;
	top:150px;
	right:0;
	bottom:50px;
	left:0;
	padding:15px;
}

nav.navbar {
	z-index:1;
}

/* Buttons
 */
div.btn-top {
	float:right;
	position:relative;
	top:-60px;
	margin-bottom:-60px;
	margin-right:65px;
}

@media (max-width:767px) {
	div.btn-top button:first-child {
		display:none;
	}
}

/* View
 */
div.view-container {
	position:absolute;
	top:60px;
	right:280px;
	bottom:15px;
	left:15px;
	overflow:auto;
	border:1px solid #404040;
	min-height:350px;
	background-color:#f0f0fc;
}

canvas.links {
	position:absolute;
	top:0;
	left:0;
	background-color:#ffffff;
}

div.view {
	position:relative;
	border-right:1px solid #000000;
	border-bottom:1px solid #000000;
}

div.element {
	width:120px;
	height:55px;
	padding:5px 7px;
	font-size:10px;
	position:absolute;
	overflow:hidden;
	box-shadow:3px 3px 8px #808080;
}

div.editable div.element {
	cursor:move;
}

div.application {
	border:1px solid #7eb2b2;
	background-color:#b5ffff;
}

div.business {
	border:1px solid #b2b27e;
	background-color:#ffffb5;
}

div.information {
	border:1px solid #8e8eb2;
	background-color:#ccccff;
}

div.file_operation {
	border:1px solid #af8051;
	background-color:#fbb875;
}

div.hardware {
	border:1px solid #8ca180;
	background-color:#c9e7b7;
	border-radius:10px;
}

div.background-hack {
	display:none;
	border-width:120px;
	border-style:solid;
	position:absolute;
	top:0;
	left:0;
}

div.element span {
	position:relative;
	display:block;
}

div.frame {
	position:absolute;
	border:2px solid #0060a0;
}

div.frame div.frame-header {
	position:relative;
	top:-24px;
	left:-2px;
}

div.frame span.frame-title {
	display:inline-block;
	color:#ffffff;
	background-color:#0060a0;
	padding:2px 15px;
	height:23px;
	float:left;
}

div.frame span.frame-delete {
	display:none;
	margin-top:-5px;
	margin-left:5px;
	color:#ff0000;
	height:23px;
	font-size:20px;
	cursor:pointer;
}

/* Sidebar
 */
div.sidebar {
	width:250px;
	position:absolute;
	right:15px;
	top:60px;
	bottom:15px;
	overflow:hidden;
	overflow-y:scroll;
}

div.sidebar li {
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	margin-right:5px;
}

div.sidebar li span.btn {
	float:right;
	padding:1px 7px;
}

div.sidebar li.list-group-item input {
	margin-right:5px;
}

div.sidebar li.selected {
	background-color:#ffe0e0;
}

div.sidebar li.highlight {
	background-color:#ffffe0;
}

/* Locked
 */
div.locked div.view-container {
	right:15px;
	bottom:15px;
}

@media (max-width:767px) {
	div.sidebar {
		display:none;
	}

	div.content {
		bottom:0;
	}

	div.view-container {
		right:15px;
		bottom:15px;
	}

	div.footer {
		display:none;
	}
}

/* Print
 */
@media print {
	img.title_icon,
	div.header,
	div.btn-group,
	div.sidebar,
	div.footer {
		display:none;
	}

	div.content {
		top:60px;
		bottom:0;
	}

	h1 {
		margin-top:-60px;
	}

	div.view-container {
		top:0;
		right:0;
		border:none;
	}

	div.view {
		border:none;
	}

	div.background-hack {
		display:block;
	}

	div.element > span {
		z-index:1;
	}

	div.element span + span {
		display:none;
	}

	div.frame span.frame-title {
		border:2px solid #0060a0;
		border-bottom:none;
		padding-top:0px;
	}

	div.frame span.frame-delete,
	div.frame div.ui-resizable-handle {
		display:none;
	}
}
