form.search {
	max-width:220px;
}

form.search input[type=button] {
	padding:6px 10px;
}

table.overview th:nth-child(3) {
	max-width:25px;
}

@media (min-width:768px) {
	form.search {
		float:right;
		margin-top:-45px;
		margin-right:80px;
	}
}
