button.help {
	float:right;
}

img.title_icon + button.help {
	margin-right:20px;
}

@media (max-width:767px) {
	button.help {
		margin-top:10px;
	}
}

div#help h2 {
	margin-top:0;
	font-size:18px;
}

div#help ul {
	padding-left:15px;
}
